<div>
    <div>
        <label for="serverName">Server Name</label>
        <input class="form-control col-lg-2" id="serverName" name="serveName" #newServerName />
    </div>
    <div>
        <label for="serverContent">Server Content</label>
        <input class="form-control" id="serverContent" name="serverContent"  #newserverContent />
        <!-- [(ngModel)]="serverContent" /> -->
    </div>
    <div class="p-2">
        <button class="btn btn-primary p-2" (click)="addNewServer(newServerName)">Add Server</button>
        <button class="btn btn-primary p-2" (click)="addNewBluePrint(newServerName)">Add Server BluePrint</button>
    </div>
</div>